/*It is simply a copy of the colors.scss file in shopify_v2 itsself. It has not been modified or syncronised yet.
It is thought to have all colors centrallised on one Place. 
*/
$white: #ffffff;
$gray-0: #f0f0f0;
$gray-1: #F7F9FA;
$gray-2: #E3E8ED;
$grey-col: #eeeeee;
$gray-3: #D2DADF;
$gray-4: #AFBBC4;
$gray-5: #828D96;
$gray-6: #525D66;
$gray-7: #39444D;
$gray-8: #242C33;
$black: #212426;

$blue-light-5: #DEEEFF;
$blue-light-4: #EDF6FF;
$blue-light-3: #BDDCFF;
$blue-light-2: #77B5FF;
$blue-light-1: #3B95FF;
$blue: #1975F1;
$blue-dark-1: #085FD9;
$blue-dark-2: #004AB3;
$blue-dark-3: #00368C;
$blue-dark-4: #002466;

$green-light-4: #E8FAEE;
$green-light-3: #B7ECC8;
$green-light-2: #89DCA5;
$green-light-1: #5DC984;
$green: #33B464;
$green-dark-1: #269C55;
$green-dark-2: #1B8246;
$green-dark-3: #126637;
$green-dark-4: #0A4927;

$yellow-light-4: #FFF8E9;
$yellow-light-3: #FFE9B9;
$yellow-light-2: #FFDB8C;
$yellow-light-1: #FFCD63;
$yellow: #F9C03E;
$yellow-dark-1: #D99B2E;
$yellow-dark-2: #B37820;
$yellow-dark-3: #8C5715;
$yellow-dark-4: #66390C;

$red-light-4: #FFEDED;
$red-light-3: #FFB8B3;
$red-light-2: #FF8B85;
$red-light-1: #FF6860;
$red: #F34E46;
$red-dark-1: #D93531;
$red-dark-2: #B3201F;
$red-dark-3: #8C1113;
$red-dark-4: #66070B;

$alt-lavendar: #AE93F9;
$alt-teal: #81E1E1;
$alt-lime: #D8F080;
$alt-tangerine: #FC8A66;
$alt-pink: #F77F9C;

$pro: #f8a642;
$pro-dark-1: #ed9f40;

$button-blue: #0071CE;
$button-red: #E83D16;
$button-gray: #DAD9D7;

$shadow-black-10: rgba(16, 22, 26, .1);
$shadow-black-20: rgba(16, 22, 26, .2);
$shadow-gray-50: rgba(210, 218, 223, .5);
$shadow-white-10: rgba(255, 255, 255, .1);
$shadow-white-95: rgba(255,255,255,0.95);
$shadow-blue-10: rgba(0, 35, 70, .1);
$shadow-red-15: rgba(0,0,0,.15);
$shadow-red-20: rgba(179,32,31, .2);